:root {
  --primary-color: #2c3e50;
  --secondary-color: #e74c3c;
}

body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #20275b;
}

header, footer {
  background-color: var(--primary-color);
  color: white;
  text-align: center;
  padding: 1rem;
}

main {
  display: grid;
  grid-template-columns: 1fr;
  gap: 2rem;
  padding: 2rem;
}

@keyframes blink {
  0%, 100% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
}

.blink {
  animation: blink 1s infinite;
}

@keyframes planetMove {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(100px);
  }
}

.button {
  padding: 1rem 2rem;
  background-color: var(--secondary-color);
  color: rgb(255, 255, 255);
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.button:hover {
  background-color: darken(var(--secondary-color), 10%);
}

.image-row {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.image-container {
  display: flex;
  align-items: center;
}

.image-text {
  display: none;
  margin-left: 50px; 
}

.image-container.clicked .image-text {
  display: block;
}


.planet {
  width: 180px;
  height: 180px;
  background-size: cover;
  animation: planetMove 5s linear infinite;
  cursor: pointer;
  transition: transform 0.2s ease;
}

.planet1 {
  background-image: url('images/planet1.jpeg');
}

.planet2 {
  background-image: url('images/planet2.jpg');
}

.planet3 {
  background-image: url('images/planet3.jpeg');
}

.planet4 {
  background-image: url('images/planet4.jpg');
}


.planet.clicked {
  transform: scale(1.1);
}

.image-text {
  display: none;
  margin-left: 15px;
}

.image-container.clicked .image-text {
  display: block;
}


.rocket {
  display: none;
  text-align: center;
  margin-top: 20px;
}

.rocket img {
  width: 180px;
  height: auto;
}

.rocket-text {
  font-weight: bold;
}

.rocket.show {
  display: block;
}




